<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.2-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">

            <!-- Menu -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">EM</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-left">
                        <ul class="nav navbar-nav">
                            <li><a href="/patienter">Patient</a></li>
                            <li><a href="/procedurer">Procedur</a></li>
                            <li><a href="/ultraljud">Ultraljud</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Messages -->
            <div id="messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!-- Content -->
            <div id="content">{% block content %}{% endblock %}</div>

            <!-- Footer -->
            <div id="footer">
                {% block footer %}
                &copy; Copyright 2015 by <a href="http://domain.invalid/">J&J</a>.
                {% endblock %}
            </div>
        </div>
        <script>
            $('select[name="procedure"]').change(function() {
                // fetch procedure
                var id = $(this).val();

                $.getJSON("/api/proceduretype/"+id, function(data) {
                    
                    if (data.method_group !== null) {
                        $('.form-group.method').show();
                        $.getJSON("/api/group/"+data.method_group+"/items", function(data) {
                            var items = []
                            $.each(data.items, function(key, val) {
                                items.push('<option value="'+val.id+'">'+val.name+'</option>');
                            });
                            $('select[name="method"]').html(items.join(""))
                        });
                    }
                    else {
                        $('.form-group.method').hide();
                        $('select[name="method"]').html('');
                    }

                    if (data.anatomy_group !== null) {
                        $('.form-group.anatomy').show();
                        $.getJSON("/api/group/"+data.anatomy_group+"/items", function(data) {
                            var items = []
                            $.each(data.items, function(key, val) {
                                items.push('<option value="'+val.id+'">'+val.name+'</option>');
                            });
                            $('select[name="anatomy"]').html(items.join(""))
                        });
                    }
                    else {
                        $('.form-group.anatomy').hide();
                        $('select[name="anatomy"]').html('');
                    }

                    if (data.show_success !== null && data.show_success !== false) {
                        $('.form-group.successful').show();
                    }
                    else {
                        $('.form-group.successful').hide();
                    }
                });
            });
        </script>
    </body>
</html>